#start-frame{
    width:40%;
    float:left;
    text-align:center;
}

#start-frame i{
    margin-left:15px;
    font-size:25px;
    color:aqua;
}

#button-frame {
    width:20%;
    text-align:center;
    float:left;
}

#answer-frame {
    width:40%;
    text-align:center;
    float:left;
}

#number-frame .number{
    display:inline-block;
    margin-left:20px;
    background-color:lightblue;
    font-size:1.5em;
    padding:15px;
    border-radius:100%;
    cursor:pointer;
}